@page "/secrets"
@using Blazor.Demo.Toaster;
@inject SecretVaultState SecretVaultState

<h3>Secrets</h3>

<SurveyPrompt Title="Secret values should be loaded from this tab and persisted via UserState" />

<form class="was-validated">
	<div class="shadow-none p-3 mb-5 bg-light rounded">
		<h3>JWE Encryption to Visa</h3>
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="jweHeaderKid">JWE Header Kid</label>
				<input type="text" class="form-control" id="jweHeaderKid" @bind="@SecretVaultState.JweHeaderKid" @bind:event="oninput" required>
			</div>
		</div>
		<div class="form-row">
			<div class="mb-3">
				<label for="jwePublicCert">JWE Public Cert</label>
				<textarea class="form-control is-invalid" id="jwePublicCert" placeholder="paste in jwePublicCert .pem or .cert here" @bind="@SecretVaultState.JwePublicCert" required></textarea>
			</div>
		</div>
	</div>
	<div class="shadow-none p-3 mb-5 bg-light rounded">
		<h3>JWS Signing to Visa</h3>
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="jwsHeaderKid">JWS Header Kid</label>
				<input type="text" class="form-control" id="jwsHeaderKid" @bind="@SecretVaultState.JwsHeaderKid" @bind:event="oninput" required>
			</div>
			<div class="col-md-6 mb-3">
				<label for="jwsPrivatePass">JWS Private Key Pass</label>
				<input type="password" class="form-control" id="jwsPrivatePass" @bind="@SecretVaultState.JwsPrivatePemPass" @bind:event="oninput">
			</div>
		</div>
		<div class="form-row">
			<div class="mb-3">
				<label for="jwsRsaPrivateKey">JWS RSA Private Key</label>
				<textarea class="form-control is-invalid" id="jwsRsaPrivateKey" placeholder="paste in signature signing RSA private key.pem here" @bind="@SecretVaultState.JwsPrivatePem" required></textarea>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-outline-warning" id="loadRsaKeysBtn" @onclick="LoadRsaKeys">Load RSA Keys</button>
	<button type="button" class="btn btn-primary" @onclick="AddToast">Add a Toast</button>
</form>

<!-- my Bootstrap Toaster -->
<Toaster />

@code {
	private void LoadRsaKeys()
	{
		var keyLoadResult = SecretVaultState.LoadRSAKeys();

		if (keyLoadResult)
			toasterService.AddToast(Toast.NewToast("Success", "Loading RSA Keys success!", MessageColour.Success, 10));
		else
			toasterService.AddToast(Toast.NewToast("Error", "Please check RSA keys and try parsing again!", MessageColour.Danger, 10));
	}

	[Inject] private ToasterService? _toasterService { get; set; }

	private ToasterService toasterService => _toasterService!;

	private void AddToast()
	=> toasterService.AddToast(Toast.NewToast("Hello World", "Hello from Blazor", MessageColour.Info, 10));
}
